<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>

    <h2>Restablecer contraseña</h2>

    <input type="password" id="password" placeholder="Nueva contraseña">
    <button onclick="resetPassword()">Enviar</button>

    <p id="mensaje"></p>

    <script>
        // 🔥 Obtener token desde la URL
        const params = new URLSearchParams(window.location.search);
        const token = params.get("token");

        async function resetPassword() {
            const password = document.getElementById("password").value;

            const res = await fetch("http://127.0.0.1:5000/reset-password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    token: token,
                    clave: password
                })
            });

            const data = await res.json();

            document.getElementById("mensaje").innerText = data.message || data.error;
        }
    </script>

</body>
</html>